body {
  margin: 0;
  padding: 0;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  line-height: var(--sl-line-height-normal);
  color: var(--sl-color-neutral-950);
  background-color: var(--sl-color-neutral-0);
}

:root,
:host,
.sl-theme-light,
.sl-theme-dark {
  --ca-width-screen: 1920px;
  --ca-width-widescreen-content: 1088px;

  --ca-top-bar-height: 4rem;
  --ca-menu-bar-max-width: 320px;

  --sl-input-font-family: var(--sl-font-sans);
  --sl-input-help-text-color: var(--sl-color-neutral-700);

  --ca-hint-color: var(--sl-input-help-text-color);
  --ca-hint-font-size: var(--sl-font-size-small);
  --ca-hint-line-height: var(--sl-line-height-small);

  --ca-warning-color: var(--sl-color-warning-600);
  --ca-warning-font-size: var(--sl-font-size-small);
  --ca-warning-line-height: var(--sl-line-height-small);

  --ca-danger-color: var(--sl-color-danger-600);
  --ca-success-color: var(--sl-color-success-600);

  --ca-border: var(--sl-panel-border-width) solid var(--sl-panel-border-color);

  --ca-table-header-font-weight: var(--sl-font-weight-bold);
  --ca-table-row-odd-color: var(--sl-color-neutral-50);

  --ca-dragged-color: var(--sl-color-primary-100);

  --ca-page-title-gap: var(--sl-spacing-2x-small);
  --ca-section-gap: var(--sl-spacing-large);
  --ca-paragraph-gap: var(--sl-spacing-medium);
  --ca-buttons-gap: var(--sl-spacing-medium);
  --ca-panel-row-gap: var(--sl-spacing-medium);
  --ca-panel-column-gap: var(--sl-spacing-large);
  --ca-panel-description-gap: var(--sl-spacing-small);
  --ca-panel-buttons-gap: var(--sl-spacing-medium);
  --ca-table-row-gap: var(--sl-spacing-small);
  --ca-table-column-gap: var(--sl-spacing-small);
  --ca-table-buttons-gap: var(--sl-spacing-small);
  --ca-table-paragraph-gap: var(--sl-spacing-small);
  --ca-input-row-gap: var(--sl-spacing-medium);
  --ca-input-column-gap: var(--sl-spacing-medium);
  --ca-empty-notification-gap: var(--sl-spacing-3x-large);
  --ca-modal-section-gap: var(--sl-spacing-medium);
  --ca-modal-paragraph-gap: var(--sl-spacing-medium);
  --ca-modal-buttons-gap: var(--sl-spacing-small);
}

.sl-theme-dark {
  --ca-warning-color: var(--sl-color-warning-500);
  --ca-danger-color: var(--sl-color-danger-500);
  --ca-success-color: var(--sl-color-success-500);
}

.sl-toast-stack {
  top: var(--ca-top-bar-height);
}
